Расписание занятий Веб-разработчик Август 2025.xlsx

Введение. Базовый HTML

index.html

Продвинутый HTML. Формы

1_проверка_ДПП_ПК_Веб_разработчик_2025_год_1.docx

Базовый CSS. Часть 1

Базовый CSS. Часть 2

Продвинутый CSS

for_teacher.md

data/